$primary-color: #333;

$woodshedr-green: #4cd964;
$woodshedr-dark-green: rgba(16, 64, 25, 1);
$button-shadow: rgba(16, 64, 25, 0.15);

$header-bg-color: $woodshedr-green;
$main-bg-color: #fff;
$body-bg-color: #222;
$footer-bg-color: $body-bg-color;
$body-max-width: 900;

$regular: "Bariol";
$bold: "Bariol Bold";
$light: "Bariol Light";
$thin: "Bariol Thin";
$bariol-path: "/assets/fonts/bariol";